		.navigation{
			position: fixed;
			width: 60px;
			height: 100%;
			background: #222222;
			transition: 0.5s;
			overflow: hidden;
			/*opacity: 0.9;*/
			/*z-index: 9999;*/
			/*border: 1px solid red;*/
		}

		.logo{
			width: 193px;
			height: 72px;
			margin-left: 65px;
			margin-top: -180px;
			position: absolute;
			background: url(logo/logo.png);
			transition: 0.3s;
			/*border: 1px solid red;*/
		}

		.logo:hover{
			background: url(logo/logo_hover_2.png);
			transition: 0.3s;
		}

		.navigation:hover, .navigation.active{
			width: 330px;
		}

		.navigation ul{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		.navigation ul li{
			position: relative;
			width: 100%;
			list-style: none;
			top: 265px;
			transition: 0.3s;
			/*border: 1px solid red;*/
		}
		
		/*선택되면 변하는 네비게이션 색상*/
		.navigation ul li:nth-child(2):hover{
			background: #8DD430;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(3):hover{
			background: #D46830;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(4):hover{
			background: #D4B830;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(5):hover{
			background: #30D4B5;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(6):hover{
			background: #8630D4;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(7):hover{
			background: #3A30D4;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(8):hover{
			background: #D4304B;
			transition: 0.3s;
		}


		/*선택하기전 네비게이션 아이콘 색상*/
		.navigation ul li:nth-child(2) a .icon{
			color: #8DD430;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(3) a .icon{
			color: #D46830;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(4) a .icon{
			color: #D4B830;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(5) a .icon{
			color: #30D4B5;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(6) a .icon{
			color: #8630D4;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(7) a .icon{
			color: #3A30D4;
			transition: 0.3s;
		}

		.navigation ul li:nth-child(8) a .icon{
			color: #D4304B;
			transition: 0.3s;
		}

		.navigation ul li a:hover .icon{
			color: #FFFFFF;
			transition: 0.3s;
		}

		.navigation ul li a{
			position: relative;
			display: block;
			width: 100%;
			display: flex;
			text-decoration: none;
			color: #FFFFFF;
			/*border: 1px solid red;*/
		}

		.navigation ul li a .icon{
			position: relative;
			display: block;
			min-width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
		}

		.navigation ul li a .icon .fa{
			font-size: 24px;
		}

		.navigation ul li a .title{
			position: relative;
			display: block;
			height: 60px;
			line-height: 65px;
			text-align: start;
			white-space: nowrap;
			/*border: 1px solid red;*/
		}

		.sns_a{
			margin-top: 80px;
		}

		.sns{
			font-size: 24px;
		}

		.facebook:hover{
			color: #4267B2;
			transition: 0.3s;
		}

		.instagram:hover{
			color: #E823D2;
			transition: 0.3s;
		}

		.youtube:hover{
			color: #FF0000;
			transition: 0.3s;
		}
		
		.toggle{
			position: fixed;
			top: 0;
			right: 0;
			width: 60px;
			height: 60px;
			background: #222222;
			/*z-index: 9999;*/
		}

		.toggle .active{
			background: #222222;
		}

		.toggle:before{
			content: '\f0c9';
			font-family: fontAwesome;
			position: absolute;
			width: 100%;
			height: 100%;
			line-height: 60px;
			text-align: center;
			font-size: 24px;
			color: #FFFFFF;
		}

		.toggle.active:before{
			content: '\f00d';
		}

		@media (max-width: 767px){
			.navigation{
				left: -60px;
			}

			.navigation.active{
				left: 0;
				width: 100%;
			}
		}